/* Add CSS Styling */

.odd{
    background-color: rgb(255, 182, 193);
    font-family: 'Verdana', 'DejaVu-sans', sans-serif;
}

#two {
    color:#0000ff;
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#four
{
    background-color: #90ee90;
    font-weight: bold;
}